body {
    background-color: rgb(158, 97, 182);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: grey

}

link {
    color: rgb(133, 23, 23)
    
}

h1 {
    font-size: 16px;

}

image {
    

}